* {box-sizing: border-box}

p {
     font-size: 25px;
}
header {
    background-color: darksalmon;
    height: 300px;
    border: 3px solid black;
}

nav {height: 300px;
    width: 200px;
    padding: 30px;
    margin: 10px;
    border: 3px black;
    position:left;
    background-color: forestgreen;
}
main {
    height: 1000px;

    padding: 30px;

    border: 3px solid black;

    background-color: fuchsia;
}
footer {

    height: 100px;
    text-align: center;
    background-color: firebrick;
    border: 3px solid black;
    position: fixed;

}
figure{
    float: left;
}
aside {
        background-color: dodgerblue;
        height: 250px;
        width: 200px;

    border: 3px solid black;
    position: absolute;
    right: 0px;
    top: 628px;
}
article {height: 20px;
    width: 200px;
        border: 3px solid black;
    background color: darkred;
    margin: auto;

}
