div{
    width: 200px;
    height: 100px;
    margin: 20px;

}
#div1{
    background-color: red;
    background: linear-gradient(grey, yellow);
}

#div2{
    background-color: aqua;
    background: linear-gradient(red, orange, blue, green);

}

#div3{
       background-color: aqua;
    background: linear-gradient(red, red 20%, orange, orange 20%, pink 20% );

}

#div5{
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
}

#div5::after{
    content: '';
    display: inline-block;
  position: absolute;
    top: 0;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, hsla(0, 20%, 20%, .1), hsla(0, 20%, 20%, .8));
}
#div6{
    background-color: red;
    background: radial-gradient(at top right, red, yellow);
}
#div7{
    width: 600px;
     background-color: red;
    background: radial-gradient(circle closest-side, red, yellow);
}
#div8{
    background-color: red;
    background: repeating-linear-gradient(yellow, yellow 10px,red 10px, red 20px);
}

#div9{
    background-color: aliceblue;
    background: repeating-radial-gradient(circle at 0 0, pink, pink 10px, black 20px, black 30px);
}

#div10{

}


html{
    background: transparent url("pexels-photo-213703.jpeg") no-repeat fixed 0 0 / cover;
    position: relative;
}

html::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: hsla(40, 20%, 90%, .6);
    z-index: -1;

}
