 h1 {
    font-size: 40px;
    font color: darkmagenta;
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: darkgrey;
    background-color: beige;}

h2 {font-size: 40px;
    font color: darkmagenta;
    font-family: serif;
    text-decoration-color: darkgrey;
    background-color: beige;}

h3 {font-size: 40px;
    font color: darkmagenta;
    font-family: serif;
    text-decoration-color: darkgrey;
    background-color: beige;}

p { font-size: 25px;
    font color: darkmagenta;
    font-family: serif;
    text-decoration-color: darkgrey;}

ul,{font-size: 30px;
    font color: darkmagenta;
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: burlywood;
    list-style: inside}

ol, { font-size: 30px;
    font color: black;
    font-family: serif;
    text-decoration-color: burlywood;
    list-style: outside}
