* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #EB5757;
    height: 50px;
    margin: 0;
    width: 1024px;
}

footer {
    background: #F2C94C;
    height: 390px;
    width: 1024px;
}

body {
    background: #F2994A;
    width: 1024px;
    height: 397px;
    margin: 0px 0px 60px;

}

.hamburger {
    background: #FFFEFE;
    height: 28px;
    width: 38px;
    float: right;
}

aside {
    background: white;
    height: 300px;
    width: 230px;
    margin: 0px 1024px;
    position: absolute;
    padding: 20px;


}

ul {
    float: left;
    font-size: 20px;
     position: absolute;
}


